{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
<div class="content">
    <h2 class="font-size-18 text-center">今日无聊</h2>
    <div class="d-flex flex-wrap member-list">
        {% for m in membership %}
        <div class="w-md-quarter p-5">
            <div class="d-flex p-5 border rounded shadow">
                <div class="d-block position-relative">
                    <img class="w-50 h-50 rounded" src="{{ m.icon }}">
                    <p class="position-absolute top-0 right-0 m-0 text-right font-weight-bolder"
                        style="font-size: 0.6rem;line-height: 0.7rem;">
                        UV{{uv.get(m.id).cloned().unwrap_or_default()}}
                        <br>
                        RV{{referrer.get(m.id).cloned().unwrap_or_default()}}
                        <br>
                        Lv.{{level.get(m.id).cloned().unwrap_or_default()}}
                    </p>
                </div>
                <div class="flex-grow-1 pl-10">
                    <a target="_blank" class="text-reset font-weight-bolder" href="https://{{ m.domain }}"
                        title="{{ m.name|e }}">
                        {{ m.name|e }}
                    </a><br>
                    <small title="{{ m.description|e }}">{{ m.description|e }}</small><br>
                    <a target="_blank" href="https://github.com/{{ m.github_username }}"
                        title="{{ m.github_username|e }}"><small><i class="fab fa-github"></i>
                            {{ m.github_username|e }}</small></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <h2 class="font-size-18 text-center">30 天排行</h2>
    <div class="card table-responsive specific-w-300 mw-100 mx-auto rounded-0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">排名</th>
                    <th scope="col">站点</th>
                    <th scope="col">UV
                        <p class="d-inline font-size-12 m-0">独立访客</p>
                    </th>
                    <th scope="col">RV
                        <p class="d-inline font-size-12 m-0">来访访客</p>
                    </th>
                    <th scope="col">最后链入</th>
                    <th scope="col">最后受访</th>
                    <th scope="col">加入时间</th>
                </tr>
            </thead>
            <tbody>
                {% for r in rank %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a target="_blank" class="text-reset font-weight-bolder" data-toggle="tooltip"
                            data-title="{{ r.membership.description }}" href="https://{{ r.membership.domain }}"
                            title="{{ r.membership.name|e }}">
                            {{ r.membership.name|e }}
                        </a>
                    </td>
                    <td>{{ r.rank.unique_visitor }}</td>
                    <td>{{ r.rank.referrer }}</td>
                    <td>{{ r.rank.latest_referrer_at.format("%Y-%m-%d %H:%M:%S") }}</td>
                    <td>{{ r.rank.updated_at.format("%Y-%m-%d %H:%M:%S") }}</td>
                    <td>{{ r.rank.created_at.format("%Y-%m-%d %H:%M:%S") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2 class="font-size-18 text-center">即将移除</h2>
    <div class="card table-responsive specific-w-300 mw-100 mx-auto rounded-0">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">编号</th>
                    <th scope="col">站点</th>
                    <th scope="col">UV
                        <p class="d-inline font-size-12 m-0">独立访客</p>
                    </th>
                    <th scope="col">RV
                        <p class="d-inline font-size-12 m-0">来访访客</p>
                    </th>
                    <th scope="col">最后链入</th>
                    <th scope="col">最后受访</th>
                    <th scope="col">加入时间</th>
                </tr>
            </thead>
            <tbody>
                {% for r in to_be_remove %}
                <tr>
                    <th scope="row">
                        <del>
                            {{ loop.index }}
                        </del>
                    </th>
                    <td>
                        <del>
                            <a target="_blank" data-toggle="tooltip" data-title="{{ r.membership.description }}"
                                class="text-reset font-weight-bolder" href="https://{{ r.membership.domain }}"
                                title="{{ r.membership.name|e }}">
                                {{ r.membership.name|e }}
                            </a>
                        </del>
                    </td>
                    <td><del>{{ r.rank.unique_visitor }}</del></td>
                    <td><del>{{ r.rank.referrer }}</del></td>
                    <td>{{ r.rank.latest_referrer_at.format("%Y-%m-%d %H:%M:%S") }}</td>
                    <td>{{ r.rank.updated_at.format("%Y-%m-%d %H:%M:%S") }}</td>
                    <td>{{ r.rank.created_at.format("%Y-%m-%d %H:%M:%S") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}