{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
<div class="content">
    <h2 class="font-size-18 text-center">会员列表</h2>
    <div class="d-flex flex-wrap member-list">
        {% for m in membership %}
        <div class="w-md-quarter p-5">
            <div class="d-flex p-5 border rounded shadow">
                <img class="d-block w-50 h-50 rounded" src="{{ m.icon }}">
                <div class="flex-grow-1 pl-10">
                    <a target="_blank" class="text-reset font-weight-bolder" href="https://{{ m.domain }}"
                        title="{{ m.name|e }}">
                        {{ m.name|e }}
                    </a><br>
                    <small title="{{ m.description|e }}">{{ m.description|e }}</small><br>
                    <a target="_blank" href="https://github.com/{{ m.github_username }}"
                        title="{{ m.github_username|e }}"><small><i class="fab fa-github"></i>
                            {{ m.github_username|e }}</small></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center font-size-14 mt-10">
        （排名按照今日站点流量由高至低，当日无访客将被<b>隐藏</b>）
        <br>
        QQ交流群：136231667（仅限会员加入）
        <br>
        <img class="mt-5" height="30rem" src="/api/badge/boringbay.com">
    </div>
</div>
{% endblock %}